HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
aws/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOs stuff
.DS_Store

augment.env

ContractHash*.kt
ProtoHash*.kt
io.provenance.scope.contract.contracts.ContractHash
io.provenance.scope.contract.proto.ProtoHash
contract/src/main/resources
proto/src/main/kotlin
proto/src/main/resources